# machine learning project on indian_non_metro_jobs_dataset.

## import the required libraries

In [3]:
# import pandas 
# this librariy help us to convert different datafiles in { structured and semistuctured} into pandas dataframe
import pandas as pd

# import numpy
# this library help us to perform different numerical & statistical operation on different datastructures
import numpy as np

# import seaborn and matplotlib
# this both library help us to create and visualization 
import seaborn as sns
import matplotlib.pyplot as plt

## load the dataset

In [5]:
# load the file from local 
df_indian_non_metro_jobs_dataset = pd.read_csv('indian_non_metro_jobs_dataset.csv')

In [6]:
# show the first file observation
df_indian_non_metro_jobs_dataset.head()

,Job_ID,City,Industry,Job_Role,Skill_Set,Experience_Level,Salary_Range,Company_Name,Talent_Inflow,Talent_Outflow,Infrastructure_Score,Smart_City_Investment,GCC_Presence,MSME_Growth_Rate,Unemployment_Rate,Education_Hubs,Cost_of_Living_Index,Job_Posting_Date
0,1,Ranchi,Retail,Retail,"Customer Service, English",Mid-Level,622099.18,Reliance Retail,1159,1583,74.25,9162.21,0,6.20,9.28,29,74.65,2023-10-15
1,2,Vijayawada,Tech,AI/ML,"Python, Deep Learning, TensorFlow, NLP",Entry-Level,613072.56,HCLTech,3779,618,84.11,4862.53,1,2.78,3.32,7,96.37,2023-03-31
2,3,Ranchi,Retail,Retail,"MS Office, Customer Service",Entry-Level,466698.78,Reliance Retail,1596,1565,54.90,5226.14,0,4.85,5.99,34,60.63,2024-12-25
3,4,Vadodara,Manufacturing,Sales,"Negotiation, Communication",Entry-Level,352905.66,Reliance Retail,1318,1227,73.16,4400.15,0,4.97,9.14,7,64.78,2023-08-11
4,5,Agra,Education,Data Science,"SQL, Python, Data Visualization",Senior-Level,1948630.28,Reliance Retail,1169,2511,52.70,2257.42,0,3.99,6.60,7,66.45,2023-06-03

In [7]:
# show the last 5 observations
df_indian_non_metro_jobs_dataset.tail()

,Job_ID,City,Industry,Job_Role,Skill_Set,Experience_Level,Salary_Range,Company_Name,Talent_Inflow,Talent_Outflow,Infrastructure_Score,Smart_City_Investment,GCC_Presence,MSME_Growth_Rate,Unemployment_Rate,Education_Hubs,Cost_of_Living_Index,Job_Posting_Date
11995,11996,Raipur,Finance,Business Development,"Sales, Market Analysis, CRM",Senior-Level,1915750.24,Reliance Retail,538,1534,50.47,5232.16,0,8.35,9.44,19,68.90,2025-02-14
11996,11997,Vadodara,Finance,Data Science,"Data Visualization, Statistics",Entry-Level,543950.21,Others,1663,2265,56.52,2564.89,0,2.63,7.62,15,90.58,2023-07-07
11997,11998,Vijayawada,Tech,Engineering,"Python, Java",Mid-Level,1871356.44,Reliance Retail,2184,0,81.68,4351.64,1,4.01,4.20,17,65.80,2023-08-31
11998,11999,Vijayawada,Others,Data Science,"SQL, Statistics",Senior-Level,2165847.48,Reliance Retail,2330,487,87.71,1088.28,1,4.76,4.43,13,77.11,2025-02-25
11999,12000,Vadodara,Manufacturing,Data Science,"Data Visualization, Statistics, SQL, Python",Senior-Level,1619926.58,Reliance Retail,1164,1297,69.29,2114.90,0,2.48,7.09,18,69.32,2024-01-30

## basic data overview

In [9]:
# check the shape of the data
df_indian_non_metro_jobs_dataset.shape

(12000, 18)

In [10]:
# 12000 observation / tuples
# 18 attribute

**inferance**
 - we have 12000 observation and 18 attribute

In [12]:
# check the columns we have in the data
df_indian_non_metro_jobs_dataset.columns

Index(['Job_ID', 'City', 'Industry', 'Job_Role', 'Skill_Set',
       'Experience_Level', 'Salary_Range', 'Company_Name', 'Talent_Inflow',
       'Talent_Outflow', 'Infrastructure_Score', 'Smart_City_Investment',
       'GCC_Presence', 'MSME_Growth_Rate', 'Unemployment_Rate',
       'Education_Hubs', 'Cost_of_Living_Index', 'Job_Posting_Date'],
      dtype='object')

In [13]:
# check the basic info
df_indian_non_metro_jobs_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Job_ID                 12000 non-null  int64
 1   City                   12000 non-null  object
 2   Industry               12000 non-null  object
 3   Job_Role               12000 non-null  object
 4   Skill_Set              12000 non-null  object
 5   Experience_Level       12000 non-null  object
 6   Salary_Range           12000 non-null  float64
 7   Company_Name           12000 non-null  object
 8   Talent_Inflow          12000 non-null  int64
 9   Talent_Outflow         12000 non-null  int64
 10  Infrastructure_Score   12000 non-null  float64
 11  Smart_City_Investment  12000 non-null  float64
 12  GCC_Presence           12000 non-null  int64
 13  MSME_Growth_Rate       12000 non-null  float64
 14  Unemployment_Rate      12000 non-null  float64
 15  Education_Hubs         12000 non-null  int64
 16  Cost_of_Living_Index   12000 non-null  float64
 17  Job_Posting_Date       12000 non-null  object
dtypes: float64(6), int64(5), object(7)
memory usage: 1.6+ MB

In [14]:
# Example of user-defined function
def add(x, y):
    sum1 = x + y
    return sum1  # Return single value

# Call the function and print the result
print(add(10, 20))  # Use print to see the output

30

**infrence**
 - we have 11 numerical column & 7 categerical column
 - the data we have it's aquire 1.6+ mb storage space
 - we dont have valid null record in the data

In [16]:
# decribe the dataset

df_indian_non_metro_jobs_dataset.describe().T

,count,mean,std,min,25%,50%,75%,max
Job_ID,12000.0,6000.500000,3464.245950,1.00,3000.750,6000.500,9.000250e+03,12000.00
Salary_Range,12000.0,846147.641146,607037.970547,300000.00,335759.525,667431.470,1.171641e+06,3985713.38
Talent_Inflow,12000.0,1305.965167,783.722309,0.00,751.000,1155.000,1.731000e+03,4204.00
Talent_Outflow,12000.0,1300.928083,498.169449,0.00,1058.000,1404.000,1.643250e+03,2843.00
Infrastructure_Score,12000.0,67.177056,11.323789,50.00,58.080,65.870,7.365000e+01,94.99
Smart_City_Investment,12000.0,3922.670814,2180.646913,1000.66,2253.260,3546.270,4.788977e+03,9995.70
GCC_Presence,12000.0,0.299417,0.458022,0.00,0.000,0.000,1.000000e+00,1.00
MSME_Growth_Rate,12000.0,7.273655,3.383855,2.00,4.450,6.980,9.460000e+00,14.99
Unemployment_Rate,12000.0,7.483524,2.730499,2.00,5.400,7.590,9.820000e+00,12.00
Education_Hubs,12000.0,14.781250,7.292199,5.00,9.000,14.000,1.800000e+01,39.00
Cost_of_Living_Index,12000.0,79.984437,11.501405,60.00,69.920,80.105,8.982000e+01,100.00

**interpretation**
 - from this we can easily identify the outliers , by looking at the difference between mean and 50% (median)

## data preprocessing

### null value handeling

In [20]:
# check the count of null record presented dataframe 
df_indian_non_metro_jobs_dataset.isnull().sum()

Job_ID                   0
City                     0
Industry                 0
Job_Role                 0
Skill_Set                0
Experience_Level         0
Salary_Range             0
Company_Name             0
Talent_Inflow            0
Talent_Outflow           0
Infrastructure_Score     0
Smart_City_Investment    0
GCC_Presence             0
MSME_Growth_Rate         0
Unemployment_Rate        0
Education_Hubs           0
Cost_of_Living_Index     0
Job_Posting_Date         0
dtype: int64

**interpretation**
 - in the data we don't have the null records

before performing machine learning we have the take care of few things 
 - categorical column must not contain the categories more than 15 ,if the count of categories more than 30 then drop the column ( model complex )
 - we have to remove the column who contain all unique values 
 - we have to remove the column who contain all singal values

## EDA (EXPLOTARY DATA ANALYSIS)

In [23]:
# 1 -> segricate the data based on datatype 
df_num = df_indian_non_metro_jobs_dataset.select_dtypes(include = 'number')

In [24]:
# 2 -> make a seperate dataframe for categorical variable 
df_cat = df_indian_non_metro_jobs_dataset.select_dtypes(include = 'object')

In [25]:
# check the columns present in categorical dataframe 
df_cat.columns

Index(['City', 'Industry', 'Job_Role', 'Skill_Set', 'Experience_Level',
       'Company_Name', 'Job_Posting_Date'],
      dtype='object')

In [26]:
# check teh categories present in categorical columns 
df_cat.City.value_counts()

City
Raipur           1235
Vijayawada       1227
Jodhpur          1222
Visakhapatnam    1218
Madurai          1205
Ranchi           1195
Rajkot           1192
Agra             1183
Vadodara         1175
Nashik           1148
Name: count, dtype: int64

In [27]:
# check the columns present in categorical dataframe 
df_cat.columns

Index(['City', 'Industry', 'Job_Role', 'Skill_Set', 'Experience_Level',
       'Company_Name', 'Job_Posting_Date'],
      dtype='object')

In [28]:
# check the columns present in categorical dataframe 
df_cat.Industry.value_counts()

Industry
Tech             2572
Pharma           1786
Others           1544
Retail           1450
Education        1436
Manufacturing    1134
Healthcare       1055
Finance          1023
Name: count, dtype: int64

In [29]:
df_cat.columns

Index(['City', 'Industry', 'Job_Role', 'Skill_Set', 'Experience_Level',
       'Company_Name', 'Job_Posting_Date'],
      dtype='object')

In [30]:
df_cat.Job_Role.value_counts()

Job_Role
Business Development    2381
Engineering             2259
AI/ML                   1776
Operations              1518
Data Science            1500
Others                  1018
Sales                   1005
Retail                   543
Name: count, dtype: int64

In [31]:
df_cat.Skill_Set.value_counts()

Skill_Set
Market Analysis, Sales, CRM                    279
Sales, Market Analysis, CRM                    274
CRM, Market Analysis, Sales                    265
CRM, Sales, Market Analysis                    265
Market Analysis, CRM, Sales                    259
                                              ...
Statistics, Data Visualization, Python, SQL     13
Statistics, Python, Data Visualization, SQL     13
SQL, Data Visualization, Statistics, Python     13
Python, Data Visualization, Statistics          12
SQL, Python, Data Visualization, Statistics     10
Name: count, Length: 226, dtype: int64

In [32]:
df_cat.Experience_Level.value_counts()

Experience_Level
Entry-Level     4887
Mid-Level       4164
Senior-Level    2346
Internship       603
Name: count, dtype: int64

In [33]:
df_cat.columns

Index(['City', 'Industry', 'Job_Role', 'Skill_Set', 'Experience_Level',
       'Company_Name', 'Job_Posting_Date'],
      dtype='object')

In [34]:
df_cat.Company_Name.value_counts()

Company_Name
Reliance Retail    5541
Others             5539
HCLTech             920
Name: count, dtype: int64

In [35]:
df_cat.Job_Posting_Date.value_counts()

Job_Posting_Date
2025-02-12    33
2024-07-27    32
2023-07-18    30
2025-01-09    30
2023-06-23    29
              ..
2024-06-09     7
2023-08-26     7
2024-10-21     7
2024-07-11     6
2024-08-08     4
Name: count, Length: 731, dtype: int64

In [36]:
# Ensure your column is in datetime format
df_cat['Job_Posting_Date'] = pd.to_datetime(df_cat['Job_Posting_Date'])

In [37]:
# Extract day, month, year
df_cat['day'] = df_cat['Job_Posting_Date'].dt.day
df_cat['month'] = df_cat['Job_Posting_Date'].dt.month
df_cat['year'] = df_cat['Job_Posting_Date'].dt.year

# Extract weekday (0 = Monday, 6 = Sunday) and weekday name
df_cat['weekday'] = df_cat['Job_Posting_Date'].dt.dayofweek
df_cat['weekday_name'] = df_cat['Job_Posting_Date'].dt.day_name()
# Extract quarter
df_cat['quarter'] = df_cat['Job_Posting_Date'].dt.quarter

In [38]:
# Define a function to map month to season (for India-style seasons)
def get_season(month):
    if month in [3, 4, 5]:
        return 'Summer'
    elif month in [6, 7, 8, 9]:
        return 'Monsoon'
    elif month in [10, 11, 12, 1, 2]:
        return 'Winter'

In [39]:
# Apply the season function
df_cat['season'] = df_cat['month'].apply(get_season)

In [40]:
# check the categorical dataframe
df_cat.head()

,City,Industry,Job_Role,Skill_Set,Experience_Level,Company_Name,Job_Posting_Date,day,month,year,weekday,weekday_name,quarter,season
0,Ranchi,Retail,Retail,"Customer Service, English",Mid-Level,Reliance Retail,2023-10-15,15,10,2023,6,Sunday,4,Winter
1,Vijayawada,Tech,AI/ML,"Python, Deep Learning, TensorFlow, NLP",Entry-Level,HCLTech,2023-03-31,31,3,2023,4,Friday,1,Summer
2,Ranchi,Retail,Retail,"MS Office, Customer Service",Entry-Level,Reliance Retail,2024-12-25,25,12,2024,2,Wednesday,4,Winter
3,Vadodara,Manufacturing,Sales,"Negotiation, Communication",Entry-Level,Reliance Retail,2023-08-11,11,8,2023,4,Friday,3,Monsoon
4,Agra,Education,Data Science,"SQL, Python, Data Visualization",Senior-Level,Reliance Retail,2023-06-03,3,6,2023,5,Saturday,2,Monsoon

In [41]:
import pandas as pd

# Ensure 'Job_Posting_Date' is in datetime format
df_indian_non_metro_jobs_dataset['Job_Posting_Date'] = pd.to_datetime(df_indian_non_metro_jobs_dataset['Job_Posting_Date'])

# Extract day, month, year
df_indian_non_metro_jobs_dataset['day'] = df_indian_non_metro_jobs_dataset['Job_Posting_Date'].dt.day
df_indian_non_metro_jobs_dataset['month'] = df_indian_non_metro_jobs_dataset['Job_Posting_Date'].dt.month
df_indian_non_metro_jobs_dataset['year'] = df_indian_non_metro_jobs_dataset['Job_Posting_Date'].dt.year

# Extract weekday (0 = Monday, 6 = Sunday) and weekday name
df_indian_non_metro_jobs_dataset['weekday'] = df_indian_non_metro_jobs_dataset['Job_Posting_Date'].dt.dayofweek
df_indian_non_metro_jobs_dataset['weekday_name'] = df_indian_non_metro_jobs_dataset['Job_Posting_Date'].dt.day_name()

# Extract quarter
df_indian_non_metro_jobs_dataset['quarter'] = df_indian_non_metro_jobs_dataset['Job_Posting_Date'].dt.quarter

# Function to determine season (based on Indian climate)
def get_season(month):
    if month in [3, 4, 5]:
        return 'Summer'
    elif month in [6, 7, 8, 9]:
        return 'Monsoon'
    else:
        return 'Winter'  # Months 10, 11, 12, 1, 2

# Apply the season function
df_indian_non_metro_jobs_dataset['season'] = df_indian_non_metro_jobs_dataset['month'].apply(get_season)

# Display the first few rows to verify
df_indian_non_metro_jobs_dataset.head()

,Job_ID,City,Industry,Job_Role,Skill_Set,Experience_Level,Salary_Range,Company_Name,Talent_Inflow,Talent_Outflow,...,Education_Hubs,Cost_of_Living_Index,Job_Posting_Date,day,month,year,weekday,weekday_name,quarter,season
0,1,Ranchi,Retail,Retail,"Customer Service, English",Mid-Level,622099.18,Reliance Retail,1159,1583,...,29,74.65,2023-10-15,15,10,2023,6,Sunday,4,Winter
1,2,Vijayawada,Tech,AI/ML,"Python, Deep Learning, TensorFlow, NLP",Entry-Level,613072.56,HCLTech,3779,618,...,7,96.37,2023-03-31,31,3,2023,4,Friday,1,Summer
2,3,Ranchi,Retail,Retail,"MS Office, Customer Service",Entry-Level,466698.78,Reliance Retail,1596,1565,...,34,60.63,2024-12-25,25,12,2024,2,Wednesday,4,Winter
3,4,Vadodara,Manufacturing,Sales,"Negotiation, Communication",Entry-Level,352905.66,Reliance Retail,1318,1227,...,7,64.78,2023-08-11,11,8,2023,4,Friday,3,Monsoon
4,5,Agra,Education,Data Science,"SQL, Python, Data Visualization",Senior-Level,1948630.28,Reliance Retail,1169,2511,...,7,66.45,2023-06-03,3,6,2023,5,Saturday,2,Monsoon

### Deside the target variable

In [43]:
# check the dataframe to decide the target variable
df_indian_non_metro_jobs_dataset.head()

,Job_ID,City,Industry,Job_Role,Skill_Set,Experience_Level,Salary_Range,Company_Name,Talent_Inflow,Talent_Outflow,...,Education_Hubs,Cost_of_Living_Index,Job_Posting_Date,day,month,year,weekday,weekday_name,quarter,season
0,1,Ranchi,Retail,Retail,"Customer Service, English",Mid-Level,622099.18,Reliance Retail,1159,1583,...,29,74.65,2023-10-15,15,10,2023,6,Sunday,4,Winter
1,2,Vijayawada,Tech,AI/ML,"Python, Deep Learning, TensorFlow, NLP",Entry-Level,613072.56,HCLTech,3779,618,...,7,96.37,2023-03-31,31,3,2023,4,Friday,1,Summer
2,3,Ranchi,Retail,Retail,"MS Office, Customer Service",Entry-Level,466698.78,Reliance Retail,1596,1565,...,34,60.63,2024-12-25,25,12,2024,2,Wednesday,4,Winter
3,4,Vadodara,Manufacturing,Sales,"Negotiation, Communication",Entry-Level,352905.66,Reliance Retail,1318,1227,...,7,64.78,2023-08-11,11,8,2023,4,Friday,3,Monsoon
4,5,Agra,Education,Data Science,"SQL, Python, Data Visualization",Senior-Level,1948630.28,Reliance Retail,1169,2511,...,7,66.45,2023-06-03,3,6,2023,5,Saturday,2,Monsoon

In [44]:
# after the discussion we decided to take salary as our target variable(dependent variable)
target = df_indian_non_metro_jobs_dataset.Salary_Range

# after storing this variable into target we have to remove it from the main dataframe (independent variable)
df_indian_non_metro_jobs_dataset = df_indian_non_metro_jobs_dataset.drop('Salary_Range',axis = 1)

### prepare the data for ml

In [46]:
# 1 -> segricate the data based on datatype 
df_num = df_indian_non_metro_jobs_dataset.select_dtypes(include = 'number')

In [47]:
# 2 -> make a seperate dataframe for categorical variable 
df_cat = df_indian_non_metro_jobs_dataset.select_dtypes(include = 'object')

### perform encoding in categorical variable (categories -> numerical)

In [49]:
# perform encoding (one hot encoding)
df_encoded = pd.get_dummies(df_cat)

In [50]:
# check the encoded data
df_encoded.head()

,City_Agra,City_Jodhpur,City_Madurai,City_Nashik,City_Raipur,City_Rajkot,City_Ranchi,City_Vadodara,City_Vijayawada,City_Visakhapatnam,...,weekday_name_Friday,weekday_name_Monday,weekday_name_Saturday,weekday_name_Sunday,weekday_name_Thursday,weekday_name_Tuesday,weekday_name_Wednesday,season_Monsoon,season_Summer,season_Winter
0,False,False,False,False,False,False,True,False,False,False,...,False,False,False,True,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,True
3,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,False,False,False,True,False,False
4,True,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,True,False,False

### scale the numerical variables (priority)

formally any algorithm give the important based on the no of digit present in the observation and this process is not based on the feature importantce for prediction , to avoid this biosness we have the perform normalization or scalling on the numerical data

In [52]:
pip install scikit-learn==1.4.2

Requirement already satisfied: scikit-learn==1.4.2 in c:\users\patil\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\patil\anaconda3\lib\site-packages (from scikit-learn==1.4.2) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\patil\anaconda3\lib\site-packages (from scikit-learn==1.4.2) (1.11.4)
Requirement already satisfied: joblib>=1.2.0 in c:\users\patil\anaconda3\lib\site-packages (from scikit-learn==1.4.2) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\patil\anaconda3\lib\site-packages (from scikit-learn==1.4.2) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [53]:
# import the standerd scaler sub package for performing the scalling 
from sklearn.preprocessing import StandardScaler

In [54]:
# initiate the standers scaler 
ss = StandardScaler()

In [55]:
# transform the numerical variables 
scale = ss.fit_transform(df_num)
# check the transform the data
scale

array([[-1.73190648e+00, -1.87529804e-01,  5.66240404e-01, ...,
        -1.05850890e+00,  1.50691150e+00,  1.34300510e+00],
       [-1.73161780e+00,  3.15563032e+00, -1.37093220e+00, ...,
        -1.05850890e+00,  5.00822646e-01, -1.33600989e+00],
       [-1.73132913e+00,  3.70088889e-01,  5.30106615e-01, ...,
         5.44280601e-01, -5.05266205e-01,  1.34300510e+00],
       ...,
       [ 1.73132913e+00,  1.12038590e+00, -2.61152564e+00, ...,
        -1.05850890e+00, -2.22177955e-03,  4.50000100e-01],
       [ 1.73161780e+00,  1.30668413e+00, -1.63390589e+00, ...,
         2.14707010e+00, -1.00831063e+00, -1.33600989e+00],
       [ 1.73190648e+00, -1.81149727e-01, -7.88536314e-03, ...,
         5.44280601e-01, -1.00831063e+00, -1.33600989e+00]])

In [56]:
# create a new dataframe for scale the data
df_scale = pd.DataFrame(scale,columns = df_num.columns)

In [57]:
# check the scale the dataframe 
df_scale.head()

,Job_ID,Talent_Inflow,Talent_Outflow,Infrastructure_Score,Smart_City_Investment,GCC_Presence,MSME_Growth_Rate,Unemployment_Rate,Education_Hubs,Cost_of_Living_Index,day,month,year,weekday,quarter
0,-1.731906,-0.187530,0.566240,0.624635,2.402845,-0.653745,-0.317301,0.657957,1.949939,-0.463827,-0.085550,1.013764,-1.058509,1.506911,1.343005
1,-1.731618,3.155630,-1.370932,1.495405,0.431018,1.529649,-1.328024,-1.524885,-1.067109,1.424717,1.728422,-1.007603,-1.058509,0.500823,-1.336010
2,-1.731329,0.370089,0.530107,-1.084228,0.597769,-0.653745,-0.716271,-0.547001,2.635632,-1.682859,1.048183,1.591297,0.544281,-0.505266,1.343005
3,-1.731040,0.015357,-0.148406,0.528374,0.218971,-0.653745,-0.680807,0.606682,-1.067109,-1.322019,-0.539043,0.436230,-1.058509,0.500823,0.450000
4,-1.730752,-0.174770,2.429138,-1.278517,-0.763682,-0.653745,-0.970429,-0.323590,-1.067109,-1.176813,-1.446029,-0.141303,-1.058509,1.003867,-0.443005

### concatinate both the encoded and scale dataframe

In [59]:
# do the concatination 
X = pd.concat([df_encoded,df_scale],axis=1)
# chcek the concatinate data 
X.head()

,City_Agra,City_Jodhpur,City_Madurai,City_Nashik,City_Raipur,City_Rajkot,City_Ranchi,City_Vadodara,City_Vijayawada,City_Visakhapatnam,...,GCC_Presence,MSME_Growth_Rate,Unemployment_Rate,Education_Hubs,Cost_of_Living_Index,day,month,year,weekday,quarter
0,False,False,False,False,False,False,True,False,False,False,...,-0.653745,-0.317301,0.657957,1.949939,-0.463827,-0.085550,1.013764,-1.058509,1.506911,1.343005
1,False,False,False,False,False,False,False,False,True,False,...,1.529649,-1.328024,-1.524885,-1.067109,1.424717,1.728422,-1.007603,-1.058509,0.500823,-1.336010
2,False,False,False,False,False,False,True,False,False,False,...,-0.653745,-0.716271,-0.547001,2.635632,-1.682859,1.048183,1.591297,0.544281,-0.505266,1.343005
3,False,False,False,False,False,False,False,True,False,False,...,-0.653745,-0.680807,0.606682,-1.067109,-1.322019,-0.539043,0.436230,-1.058509,0.500823,0.450000
4,True,False,False,False,False,False,False,False,False,False,...,-0.653745,-0.970429,-0.323590,-1.067109,-1.176813,-1.446029,-0.141303,-1.058509,1.003867,-0.443005

## Now split the data in training set and testing set

In [61]:
# import the train test split 
from sklearn.model_selection import train_test_split

In [62]:
# cearte xtrain ,xtest ,ytrain , ytest 
X_train,X_test,y_train,y_test = train_test_split(X,target,test_size=0.20,random_state=42)

In [63]:
# authentic check training set
print(X_train.shape)

print(y_train.shape)

(9600, 284)
(9600,)

In [64]:
# # authentic check testing set  x represt indeprnt variable and y targetvariable
print(X_test.shape)

print(y_test.shape)

(2400, 284)
(2400,)

## find the best machine learning algorithm

for  finding the best algorithm we are going to follow hit and trial method that means based on problem type (reggresion problem / classification problem) we have to try all supported algorithm and based on evolution matrix we have to find our base model

for reggresion models the evalution matrix is MSE,RMSE,Rsquare,adjestedRsquare

for classification models models the evalution matrix is f1 score , accurise, confusion , matrix , presion and recall

### linera regression

In [67]:
# import linear regression algorithm and evalution matrix
from sklearn.linear_model import LinearRegression

# here we are using mse as evaluation matrix 
from sklearn.metrics import mean_squared_error

In [68]:
# Create a linear regression model
model = LinearRegression()

In [69]:
# Fit the model to the training data # when we use manupliate the data then use fit and when we use 
model.fit(X_train, y_train)

LinearRegression()

In [70]:
# Fit the model to the training data
model.fit(X_train, y_train)

LinearRegression()

In [71]:
# Predict on the testing data
predictions = model.predict(X_test)

In [72]:
# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 55915598406.835915

### Ridge model

In [74]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a Ridge regression model
ridge_model = Ridge(alpha=1.0)  # alpha is the regularization strength

# Fit the model to the training data
ridge_model.fit(X_train, y_train)

# Predict on the testing data
predictions = ridge_model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 55772985155.949554

### lasso model

In [76]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a Lasso regression model
lasso_model = Lasso(alpha=1.0)  # alpha is the regularization strength

# Fit the model to the training data
lasso_model.fit(X_train, y_train)

# Predict on the testing data
predictions = lasso_model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 55886790251.84781

C:\Users\patil\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.521e+14, tolerance: 3.540e+11
  model = cd_fast.enet_coordinate_descent(

### decision tree regression

In [78]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a Lasso regression model
lasso_model = Lasso(alpha=1.0)  # alpha is the regularization strength

# Fit the model to the training data
lasso_model.fit(X_train, y_train)

# Predict on the testing data
predictions = lasso_model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 55886790251.84781

C:\Users\patil\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.521e+14, tolerance: 3.540e+11
  model = cd_fast.enet_coordinate_descent(

### Decision tree regression

In [80]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a Decision Tree regression model
tree_model = DecisionTreeRegressor()

# Fit the model to the training data
tree_model.fit(X_train, y_train)

# Predict on the testing data
predictions = tree_model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 81340907431.6734

### random forest regrssor

In [82]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a Random Forest regression model
forest_model = RandomForestRegressor(n_estimators=100, random_state=42)

# Fit the model to the training data
forest_model.fit(X_train, y_train)

# Predict on the testing data
predictions = forest_model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 42837716133.35736

### svr

In [84]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a SVM regression model
svm_model = SVR(kernel='rbf')  # 'rbf' kernel is commonly used for non-linear regression

# Fit the model to the training data
svm_model.fit(X_train, y_train)

# Predict on the testing data
predictions = svm_model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 397192985809.48553

**interpretation**
 - As per this mathod i can conclude that random forest regression is our base algorithm because it had least mse copare to other

## Hyper parameter tunning using cross validation

when we select the based model that time we naver contol the parameter of that algorithm so to find the parameter we have to do the cross validation

In [87]:
# Base Random Forest Regressor
base_model = RandomForestRegressor(
    n_estimators=100,       # Number of trees
    max_depth=None,         # Expand until all leaves are pure
    min_samples_split=2,    # Default
    min_samples_leaf=1,     # Default
    random_state=42,
    n_jobs=-1               # Use all CPU cores
)

# Train the model
base_model.fit(X_train, y_train)

# Predict on test set
y_pred = base_model.predict(X_test)

# Calculate MSE
mse = mean_squared_error(y_test, y_pred)
print(f"Base Model MSE: {mse:.4f}")

Base Model MSE: 42837716133.3574

In [88]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold
import numpy as np

# Define the base model
base_model = RandomForestRegressor(
    n_estimators=100,
    max_depth=None,
    min_samples_split=2,
    min_samples_leaf=1,
    random_state=42,
    n_jobs=-1
)

# Set up K-Fold cross-validation
kf = KFold(n_splits=5, shuffle=True, random_state=42)  # 5-fold CV

mse_scores = []

# Perform K-Fold cross-validation
for train_index, test_index in kf.split(X_train):
    X_train_fold, X_test_fold = X_train.iloc[train_index], X_train.iloc[test_index]
    y_train_fold, y_test_fold = y_train.iloc[train_index], y_train.iloc[test_index]
    
    # Train the model on this fold
    base_model.fit(X_train_fold, y_train_fold)
    
    # Predict and evaluate
    y_pred_fold = base_model.predict(X_test_fold)
    mse = mean_squared_error(y_test_fold, y_pred_fold)
    mse_scores.append(mse)

# Print results
print("MSE scores for each fold:", mse_scores)
print("Average MSE across folds:", np.mean(mse_scores))

MSE scores for each fold: [43420975434.18386, 44809206019.01864, 39069252432.94541, 43575425263.32531, 43633415558.38818]
Average MSE across folds: 42901654941.57228

### regression feature engineering

In [90]:
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.feature_selection import RFE
# from sklearn.metrics import mean_squared_error, r2_score

# # 1. Define the base model
# rf = RandomForestRegressor(random_state=42)

# # 2. Define RFE - you can set n_features_to_select to a specific number
# n_features = 100  # Adjust this number based on how many features you want
# rfe = RFE(estimator=rf, n_features_to_select=n_features)

# # 3. Fit RFE on the training data
# rfe.fit(X_train, y_train)

# # 4. Transform the datasets
# X_train_rfe = rfe.transform(X_train)
# X_test_rfe = rfe.transform(X_test)

# # 5. Train the model again using selected features
# rf.fit(X_train_rfe, y_train)

# # 6. Predict and evaluate
# y_pred = rf.predict(X_test_rfe)

# # 7. Evaluation metrics
# mse = mean_squared_error(y_test, y_pred)
# r2 = r2_score(y_test, y_pred)

# print(f"Selected Features: {rfe.support_}")
# print(f"Feature Ranking: {rfe.ranking_}")
# print(f"Mean Squared Error: {mse}")
# print(f"R Score: {r2}")

In [91]:
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.feature_selection import RFE
# from sklearn.metrics import mean_squared_error

# # Step 1: Use a lightweight RandomForest for RFE
# rfe_model = RandomForestRegressor(n_estimators=10, random_state=42, n_jobs=-1)

# # Step 2: Apply RFE with a larger step to speed up
# rfe = RFE(estimator=rfe_model, n_features_to_select=100, step=0.2)
# rfe.fit(X_train, y_train)

# # Step 3: Get the selected features
# selected_features = X_train.columns[rfe.support_]
# print("Selected Features:", list(selected_features))

# # Step 4: Train the final model on selected features with full estimators
# final_model = RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1)
# final_model.fit(X_train[selected_features], y_train)

# # Step 5: Predict on the test set
# y_pred = final_model.predict(X_test[selected_features])

# # Step 6: Evaluate the model
# mse = mean_squared_error(y_test, y_pred)
# print("Mean Squared Error (MSE):", mse)

In [92]:
# import joblib

# # Save model after RFE
# joblib.dump(rfe_model, 'model.pkl')

In [93]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import time

# 1. Assume your data is ready
# X = full feature set (DataFrame or array), y = target
# Replace these with your real data
# Example:
# X, y = your_dataframe.drop(columns=['target']), your_dataframe['target']

# 2. Train-Test Split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 3. Use a lightweight RandomForest for fast RFE
base_model = RandomForestRegressor(n_estimators=10, max_depth=5, random_state=42, n_jobs=-1)

# 4. Use RFE to select important features
n_features_to_select = 100  # Select top 30 features (you can tune this)

start_time = time.time()
rfe = RFE(estimator=base_model, n_features_to_select=n_features_to_select, step=10)
rfe.fit(X_train, y_train)
rfe_time = time.time() - start_time

print(f"RFE completed in {rfe_time:.2f} seconds")

# 5. Transform training and test sets
X_train_rfe = rfe.transform(X_train)
X_test_rfe = rfe.transform(X_test)

# 6. Final RandomForest model (can be stronger than RFE one)
final_model = RandomForestRegressor(n_estimators=100, max_depth=10, random_state=42, n_jobs=-1)
final_model.fit(X_train_rfe, y_train)

# 7. Predictions and Evaluation
y_pred = final_model.predict(X_test_rfe)

print("MSE:", mean_squared_error(y_test, y_pred))
print("R Score:", r2_score(y_test, y_pred))

RFE completed in 16.40 seconds
MSE: 41913547135.72401
R Score: 0.8858686470432038

In [97]:
import joblib

In [101]:
# joblib.dump(feature_names, "feature_names.pkl")
joblib.dump(rfe, "rfe.pkl")
joblib.dump(model, "final_model.pkl")

print(" All files saved successfully")

 All files saved successfully

In [103]:
selected_features = X.columns[rfe.support_]
joblib.dump(selected_features.tolist(), "feature_names.pkl")

print(" Found and saved feature_names.pkl")

 Found and saved feature_names.pkl